<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Team Signup</title>
  </head>
  <body>
    <form action="/team" method="post">
      <div><label for="name">Team name</label>
        <input type="tel" name="name" id="name"></div>
      <div><label for="coach">Coach name</label>
        <input type="tel" name="coach" id="coach"></div>
      <div><label for="pg">Point Guard</label>
        <input type="tel" name="pg" id="pg"></div>
      <div><label for="sg">Point Guard</label>
        <input type="tel" name="sg" id="sg"></div>
      <div><label for="pf">Small Forward</label>
        <input type="tel" name="pf" id="pf"></div>
      <div><label for="sf">Power Forward</label>
        <input type="tel" name="sf" id="sf"></div>
      <div><label for="c">Center</label>
        <input type="tel" name="c" id="c"></div>
      <div><input type="submit" value="Submit"></div>
    </form>
  </body>
</html>
